* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    
}

.alerta-container {
    background-color: darkgray;
    width: 180px;
    display: flex;
    padding: 10px;
    align-items: center;
    transform: translateX(250px);
    position: absolute;
    right: 0;
}


.alerta-container-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.alerta-text {
    margin-left: 30px;
}

.alert-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 6px;
}